
<!--cabezera-->
<div>
    <div class = "header">
        <button type="button" class = "options" (click) = "cambiarNombre('Bogota')">Bogota</button>
        <button type="button" class = "options" (click) = "cambiarNombre('Medellin')">Medellin</button>
        <button type="button" class = "options" (click) = "cambiarNombre('Cali')">Cali</button>
        <!--barra de busqueda-->
        <div class="flexsearch">
                <div class="flexsearch--wrapper">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="¿Que producto deseas buscar?">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                </div>
            <button type="button" class = "buttons"  >Iniciar sesion</button>
            <button type="button" class="buttons">Registrarse</button>
        </div>
    </div>
</div>




<!--cuerpo-->
<div id = "presentacion">
    <div id="margen"><h1 id = "texto_presentacion">Bienvenido a interItems {{ciudad}}</h1></div>
</div>


<!--seccion de productos destacados-->
<!--opciones de adquisicion-->
<!--ayuda-->